

<div class="card-header" style="background-color: #4D4D4D;color: white"> Details</div>

  <div class="card-body">


        <img class="rounded-circle" src="assets/image/ahmed.PNG" alt="Generic placeholder image" width="240" height="240" border="3px">
        <h2 style="color: white" class="fw-bold">Kharbouch ahmed</h2>
        <p style="color: aliceblue">5th year software engineering</p>
        <a href="index.html" style="color: aliceblue;text-decoration: none;font-size: 15px" class="fw-bold"><i class="bi bi-linkedin"> Linkedin </i> </a>
        <br>
        <a  href="index.html" style="color: aliceblue;text-decoration: none;font-size: 15px" class="fw-bold mt-2"><i class="bi bi-github"> Github </i> </a>
        <p><a class="btn btn-success mt-2" href="#" role="button">View details &raquo;</a></p>

</div>



    <div class="card-footer" style="background-color: #4D4D4D">
  <!-- FOOTER -->
  <footer class="container mt-5 mb-0">
    <p style="color: azure" >&copy; 2022-2023  Kharbouch Ahmed, Inc. &middot; <a style="color: deepskyblue" href="#">Privacy</a> &middot; <a style="color: deepskyblue"  href="#">Terms</a></p>
  </footer>
  </div>


