
.outer {background-color:lightgray;}
.outer > * {
  display:inline-block;
  vertical-align:middle;
  background-color:lightgreen;
}
.one {width:80px; height:80px;}
.two {width:160px; height:80px;}
.three {width:80px; height:100px;}
